@font-face {
    font-family: "Gilroy-Bold";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Gilroy-Bold/Gilroy-Bold.woff2") format("woff2"), url("fonts/Gilroy-Bold/Gilroy-Bold.woff") format("woff");
}

@font-face {
    font-family: "Gilroy-Medium";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Gilroy-Medium/Gilroy-Medium.woff2") format("woff2"), url("fonts/Gilroy-Medium/Gilroy-Medium.woff") format("woff");
}

@font-face {
    font-family: "Gilroy-Semibold";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Gilroy-Semibold/Gilroy-Semibold.woff2") format("woff2"), url("fonts/Gilroy-Semibold/Gilroy-Semibold.woff") format("woff");
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    display: block;
}

button {
    border: none;
    cursor: pointer;
    /* outline: none; */
}

.container {
    margin: 0 auto;
    max-width: 1170px;
}

.header {
    padding: 40px;
    margin-bottom: 84px;
    display: flex;
}

.header__logo {
    display: flex;
    justify-content: left;
}

.navigation {
    display: flex;
    justify-content: right;
    gap: 12px;
}

.header__link {
    font-family: 'Gilroy-Semibold';
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

.header__link__home {
    color: #f25822;
}

.top__info {
    margin-bottom: 162px;
    display: flex;
    justify-content: space-between;
}

.content {
    max-width: 522px;
}

.title {
    margin-bottom: 17px;

    font-family: "Gilroy-Bold";
    font-weight: 400;
    font-size: 60px;
    color: #000;
}

.text {
    margin-bottom: 37px;
    max-width: 466px;

    font-family: 'Gilroy-Medium';
    font-weight: 400;
    font-size: 20px;
    color: #888;
}

.buttons-box {
    display: flex;
    gap: 72px;
}

.content-btn {
    font-family: 'Gilroy-Bold';
    font-weight: 400;
    font-size: 15px;
    color: #fff;

    width: 140px;
    height: 50px;
    background: none;
}

.content-btn-link {
    margin-top: 15px;
    margin-bottom: 16px;

    display: flex;
    align-items: center;

    font-family: 'Gilroy-Bold';
    font-weight: 400;
    font-size: 15px;
    color: #aaa;

    width: 90px;
    height: 19px;
    background: none;
}

.content-img {
    display: flex;
    justify-content: right;
}

.footer {
    margin-bottom: 96px;
}

.logos {
    display: flex;
    justify-content: space-between;
}